Found from here:
https://www.kaggle.com/code/fehiepsi/bayesian-imputation-for-age/notebook

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In this notebook, we will do logistic regression to predict `Survived` using `Age` variable. For simplicity, I'll skip EAD part (which has been nicely done in many other popular kernels). I'll use [NumPyro](https://github.com/pyro-ppl/numpyro) for modelling, sampling, and making predictions.

In [2]:
#!pip install numpyro

In [3]:
from jax import ops, random
from jax.scipy.special import expit

import numpyro
import numpyro.distributions as dist
from numpyro.infer import MCMC, NUTS, Predictive

### prepare data

After loading data, I recognize that there are many missing values for `Age` column. We know (by intuition or from other kernels) that `Age` is correlated with the title of the name: e.g. those with `Mrs.` would be older than those with `Miss.`. Let's make a new column `Title` for that purpose.

In [4]:
train_df = pd.read_csv(
    "https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv"
)
train_df.info()
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#train_df = pd.read_csv("../input/titanic/train.csv")
d = train_df.copy()
d.Embarked.fillna("S", inplace=True)  # filling 2 missing data points with the mode "S"
d["Title"] = d.Name.str.split(", ").str.get(1).str.split(" ").str.get(0).apply(
    lambda x: x if x in ["Mr.", "Miss.", "Mrs.", "Master."] else "Misc.")
title_cat = pd.CategoricalDtype(categories=["Mr.", "Miss.", "Mrs.", "Master.", "Misc."], ordered=True)
age_mean, age_std = d.Age.mean(), d.Age.std()
embarked_cat = pd.CategoricalDtype(categories=["S", "C", "Q"], ordered=True)
data = dict(age=d.Age.pipe(lambda x: (x - age_mean) / age_std).values,
            pclass=d.Pclass.values - 1,
            title=d.Title.astype(title_cat).cat.codes.values,
            sex=(d.Sex == "male").astype(int).values,
            sibsp=d.SibSp.clip(0, 1).values,
            parch=d.Parch.clip(0, 2).values,
            embarked=d.Embarked.astype(embarked_cat).cat.codes.values,
            survived=d.Survived.values)

Note that I don't use other features such as `Fare` or `Cabin` for simplicity. I also don't do much of feature engineering for the same reason.

### modelling

If you are not familiar with NumPyro, you can take a look at [its documentation](https://github.com/pyro-ppl/numpyro#numpyro) which includes some tutorials, examples, and translated code for Statistical Rethinking book (which is a good reference IMO if you are not familiar with Bayesian methods).

In [10]:
def model(age, pclass, title, sex, sibsp, parch, embarked, survived=None):
    # create a variable for each of Pclass, Title, Sex, SibSp, Parch,
    b_pclass = numpyro.sample("b_Pclass", dist.Normal(0, 1), sample_shape=(3,))
    b_title = numpyro.sample("b_Title", dist.Normal(0, 1), sample_shape=(5,))
    b_sex = numpyro.sample("b_Sex", dist.Normal(0, 1), sample_shape=(2,))
    b_sibsp = numpyro.sample("b_SibSp", dist.Normal(0, 1), sample_shape=(2,))
    b_parch = numpyro.sample("b_Parch", dist.Normal(0, 1), sample_shape=(3,))
    b_embarked = numpyro.sample("b_Embarked", dist.Normal(0, 1), sample_shape=(3,))

    # impute Age by Title
    age_mu = numpyro.sample("age_mu", dist.Normal(0, 1), sample_shape=(5,))
    age_mu = age_mu[title]
    age_sigma = numpyro.sample("age_sigma", dist.Normal(0, 1), sample_shape=(5,))
    age_sigma = age_sigma[title]
    age_isnan = np.isnan(age)
    age_nanidx = np.nonzero(age_isnan)[0]
    age_impute = numpyro.sample("age_impute", dist.Normal(age_mu[age_nanidx], age_sigma[age_nanidx]))

    print('age.shape', age.shape)
    print('age_nanidx.shape', age_nanidx.shape)
    print('age_impute.shape', age_impute.shape)
    age = ops.index_update(age, age_nanidx, age_impute)
    numpyro.sample("age", dist.Normal(age_mu, age_sigma), obs=age)

    a = numpyro.sample("a", dist.Normal(0, 1))
    b_age = numpyro.sample("b_Age", dist.Normal(0, 1))
    logits = a + b_age * age

    logits = logits + b_title[title] + b_pclass[pclass] + b_sex[sex] \
        + b_sibsp[sibsp] + b_parch[parch] + b_embarked[embarked]
    # for prediction, we will convert `logits` to `probs` and record that result
    if survived is None:
        probs = expit(logits)
        numpyro.sample("probs", dist.Delta(probs))
    numpyro.sample("survived", dist.Bernoulli(logits=logits), obs=survived)

### sampling

After making a model, sampling is pretty fast in NumPyro.

In [11]:
mcmc = MCMC(NUTS(model), num_warmup=1000, num_samples=1000)
#mcmc = MCMC(NUTS(model), 1000, 1000)
mcmc.run(random.PRNGKey(0), **data)
mcmc.print_summary()

age_nanidx.shape (177,)
age_nanidx.shape (177,)
age_nanidx.shape (177,)

  0%|                                                  | 0/2000 [00:00<?, ?it/s]

age_nanidx.shape (177,)

sample: 100%|█| 2000/2000 [00:16<00:00, 117.79it/s, 63 steps of size 6.51e-02. a

                     mean       std    median      5.0%     95.0%     n_eff     r_hat
              a      0.12      0.83      0.12     -1.11      1.56   1144.71      1.00
  age_impute[0]      0.18      0.52      0.18     -0.63      1.04   2397.74      1.00
  age_impute[1]      0.09      0.53      0.10     -0.72      0.96   1635.02      1.00
  age_impute[2]      0.40      0.50      0.39     -0.44      1.19   3001.60      1.00
  age_impute[3]      0.21      0.53      0.21     -0.61      1.15   1490.23      1.00
  age_impute[4]     -0.57      0.59     -0.56     -1.56      0.32   1331.34      1.00
  age_impute[5]      0.20      0.55      0.19     -0.67      1.09   1770.44      1.00
  age_impute[6]      0.44      0.55      0.43     -0.56      1.26   1943.11      1.00
  age_impute[7]     -0.58      0.54     -0.57     -1.51      0.28   1847.12      1.00
  age_impute[8]      0.06      0.56      0.05     -0.84      1.01   2298.66      1.00
  age_impute[9]      0.21      0.53      0.21     -0.61      1.15   1963.74      1.00
 age_impute[10]      0.20      0.57      0.22     -0.67      1.14   2528.69      1.00
 age_impute[11]      0.18      0.57      0.19     -0.74      1.12   1704.96      1.00
 age_impute[12]     -0.58      0.57     -0.60     -1.52      0.32   1825.82      1.00
 age_impute[13]      0.19      0.51      0.17     -0.79      0.89   1808.29      1.00
 age_impute[14]      0.14      0.58      0.13     -0.76      1.13   1626.28      1.00
 age_impute[15]      0.26      0.60      0.26     -0.62      1.29   1769.71      1.00
 age_impute[16]     -1.73      0.17     -1.73     -2.02     -1.47   1551.83      1.00
 age_impute[17]      0.19      0.54      0.20     -0.66      1.09   1970.50      1.00
 age_impute[18]      0.19      0.57      0.17     -0.76      1.04   2632.02      1.00
 age_impute[19]     -0.59      0.57     -0.58     -1.47      0.38   2042.54      1.00
 age_impute[20]      0.19      0.54      0.20     -0.73      1.02   2478.24      1.00
 age_impute[21]      0.20      0.54      0.18     -0.72      1.03   1978.51      1.00
 age_impute[22]      0.18      0.55      0.19     -0.84      0.96   1535.52      1.00
 age_impute[23]      0.04      0.53      0.04     -0.76      0.99   1554.31      1.00
 age_impute[24]     -0.61      0.59     -0.61     -1.48      0.36   1356.51      1.00
 age_impute[25]      0.19      0.52      0.21     -0.61      1.10   2474.50      1.00
 age_impute[26]      0.20      0.55      0.20     -0.65      1.18   1808.88      1.00
 age_impute[27]     -0.60      0.58     -0.63     -1.49      0.36   1463.30      1.00
 age_impute[28]      0.50      0.50      0.51     -0.38      1.26   1524.23      1.00
 age_impute[29]      0.19      0.55      0.19     -0.64      1.12   1334.71      1.00
 age_impute[30]      0.21      0.54      0.21     -0.60      1.14   1859.60      1.00
 age_impute[31]     -1.72      0.17     -1.72     -2.03     -1.45   1823.37      1.00
 age_impute[32]      0.44      0.50      0.44     -0.36      1.28   2202.62      1.00
 age_impute[33]      0.24      0.58      0.24     -0.72      1.15   2151.86      1.00
 age_impute[34]     -1.72      0.17     -1.72     -1.99     -1.44   1414.68      1.00
 age_impute[35]     -0.51      0.58     -0.51     -1.40      0.46   1559.62      1.00
 age_impute[36]      0.23      0.52      0.21     -0.54      1.15   1952.33      1.00
 age_impute[37]      0.24      0.56      0.24     -0.59      1.22   1160.16      1.00
 age_impute[38]      0.40      0.51      0.41     -0.41      1.22   2059.57      1.00
 age_impute[39]      0.19      0.58      0.20     -0.73      1.18   1604.55      1.00
 age_impute[40]     -0.60      0.57     -0.60     -1.53      0.32   3146.34      1.00
 age_impute[41]      0.17      0.53      0.15     -0.68      0.96   1601.88      1.00
 age_impute[42]      0.20      0.51      0.21     -0.58      1.06   2159.73      1.00
 age_impute[43]      0.21      0.52      0.20     -0.62      1.07   1801.05      1.00
 age_impute[44]     -0.49      0.55     -0.48     -1.35      0.38   1803.87      1.00
 age_impute[45]     -0.45      0.56     -0.44     -1.37      0.46   2065.36      1.00
 age_impute[46]     -0.45      0.61     -0.45     -1.43      0.57   2417.20      1.00
 age_impute[47]     -0.60      0.53     -0.60     -1.40      0.30   1885.74      1.00
 age_impute[48]      0.20      0.52      0.22     -0.62      1.05   1713.91      1.00
 age_impute[49]      0.44      0.54      0.43     -0.42      1.32   1436.81      1.00
 age_impute[50]      0.22      0.55      0.22     -0.70      1.06   1876.04      1.00
 age_impute[51]     -0.44      0.59     -0.44     -1.39      0.53   2240.29      1.00
 age_impute[52]      0.25      0.54      0.24     -0.57      1.21   1778.40      1.00
 age_impute[53]     -0.61      0.57     -0.61     -1.56      0.30   1845.08      1.00
 age_impute[54]      0.21      0.55      0.20     -0.68      1.09   1863.40      1.00
 age_impute[55]      0.26      0.58      0.26     -0.71      1.21   2507.66      1.00
 age_impute[56]      0.26      0.54      0.28     -0.62      1.11   2306.50      1.00
 age_impute[57]      0.11      0.54      0.14     -0.88      0.91   2022.10      1.00
 age_impute[58]     -0.61      0.58     -0.59     -1.52      0.33   2168.70      1.00
 age_impute[59]      0.06      0.52      0.05     -0.77      0.96   1290.20      1.00
 age_impute[60]     -0.56      0.60     -0.57     -1.53      0.43   1417.25      1.00
 age_impute[61]      0.21      0.57      0.23     -0.69      1.17   1827.95      1.00
 age_impute[62]     -0.55      0.59     -0.56     -1.48      0.41   1175.10      1.00
 age_impute[63]      0.19      0.55      0.19     -0.75      1.05   1614.79      1.00
 age_impute[64]     -0.59      0.55     -0.60     -1.44      0.31   1691.82      1.00
 age_impute[65]      0.43      0.55      0.44     -0.46      1.30   1657.44      1.00
 age_impute[66]      0.20      0.58      0.20     -0.73      1.15   2614.74      1.00
 age_impute[67]      0.38      0.52      0.39     -0.51      1.21   1649.35      1.00
 age_impute[68]      0.23      0.54      0.24     -0.55      1.20   2096.56      1.00
 age_impute[69]      0.22      0.58      0.21     -0.76      1.13   1957.61      1.00
 age_impute[70]     -0.59      0.55     -0.60     -1.53      0.24   1901.48      1.00
 age_impute[71]     -0.61      0.60     -0.62     -1.65      0.31   2854.72      1.00
 age_impute[72]      0.21      0.55      0.21     -0.66      1.10   2220.09      1.00
 age_impute[73]      0.38      0.47      0.40     -0.34      1.18   1349.72      1.00
 age_impute[74]     -0.58      0.54     -0.58     -1.50      0.31   1808.04      1.00
 age_impute[75]      0.42      0.54      0.42     -0.51      1.23   1280.86      1.00
 age_impute[76]      0.18      0.55      0.18     -0.69      1.12   1279.96      1.00
 age_impute[77]      0.19      0.51      0.19     -0.70      0.97   1556.21      1.00
 age_impute[78]     -0.47      0.57     -0.46     -1.32      0.50   1432.51      1.00
 age_impute[79]      0.19      0.52      0.18     -0.72      0.95   2125.93      1.00
 age_impute[80]      0.21      0.51      0.21     -0.63      1.05   2326.44      1.00
 age_impute[81]      0.23      0.56      0.24     -0.76      1.05   2546.00      1.00
 age_impute[82]      0.50      0.54      0.50     -0.30      1.47   2150.32      1.00
 age_impute[83]      0.21      0.56      0.21     -0.62      1.17   1368.82      1.00
 age_impute[84]      0.19      0.57      0.18     -0.72      1.12   2056.53      1.00
 age_impute[85]      0.21      0.58      0.20     -0.70      1.19   1531.75      1.00
 age_impute[86]      0.38      0.55      0.37     -0.56      1.23   1913.55      1.00
 age_impute[87]      0.08      0.52      0.11     -0.64      1.02   1713.43      1.00
 age_impute[88]      0.18      0.58      0.19     -0.79      1.12   1678.17      1.00
 age_impute[89]      0.20      0.53      0.19     -0.61      1.10   3167.57      1.00
 age_impute[90]      0.42      0.55      0.45     -0.47      1.33   1822.35      1.00
 age_impute[91]      0.19      0.54      0.18     -0.72      1.04   2620.85      1.00
 age_impute[92]      0.19      0.51      0.17     -0.60      1.05   2085.23      1.00
 age_impute[93]      0.19      0.54      0.20     -0.72      1.06   1951.56      1.00
 age_impute[94]      0.20      0.55      0.19     -0.68      1.12   1174.10      1.00
 age_impute[95]      0.19      0.54      0.21     -0.69      1.02   1675.69      1.00
 age_impute[96]      0.23      0.53      0.22     -0.71      1.04   1829.54      1.00
 age_impute[97]      0.20      0.55      0.20     -0.65      1.11   1886.10      1.00
 age_impute[98]     -0.46      0.58     -0.47     -1.46      0.49   1313.49      1.00
 age_impute[99]      0.17      0.55      0.18     -0.80      1.00   2167.95      1.00
age_impute[100]      0.23      0.53      0.25     -0.59      1.11   1513.27      1.00
age_impute[101]      0.22      0.52      0.21     -0.70      1.00   1803.75      1.00
age_impute[102]     -0.43      0.56     -0.43     -1.32      0.50   2106.33      1.00
age_impute[103]      0.12      0.56      0.12     -0.85      0.96   1310.98      1.00
age_impute[104]      0.19      0.55      0.19     -0.79      1.01   1839.34      1.00
age_impute[105]      0.20      0.59      0.21     -0.68      1.23   1837.16      1.00
age_impute[106]      0.20      0.52      0.19     -0.67      1.04   2061.10      1.00
age_impute[107]      0.20      0.53      0.21     -0.61      1.05   2102.46      1.00
age_impute[108]      0.24      0.55      0.23     -0.69      1.07   2195.77      1.00
age_impute[109]      0.20      0.51      0.21     -0.65      0.99   1892.98      1.00
age_impute[110]      0.39      0.54      0.40     -0.52      1.28   1943.96      1.00
age_impute[111]      0.19      0.53      0.19     -0.77      0.98   1926.84      1.00
age_impute[112]      0.10      0.58      0.10     -0.81      1.03   2711.97      1.00
age_impute[113]      0.21      0.55      0.22     -0.66      1.10   1899.52      1.00
age_impute[114]      0.25      0.51      0.26     -0.50      1.08   1679.34      1.00
age_impute[115]      0.21      0.59      0.23     -0.78      1.16   1585.91      1.00
age_impute[116]      0.20      0.53      0.20     -0.62      1.12   1801.08      1.00
age_impute[117]     -0.45      0.58     -0.44     -1.41      0.52   1893.04      1.00
age_impute[118]      0.19      0.54      0.18     -0.77      0.99   2848.60      1.00
age_impute[119]     -0.61      0.57     -0.63     -1.55      0.36   1905.76      1.00
age_impute[120]      0.52      0.54      0.53     -0.37      1.36   1156.27      1.00
age_impute[121]      0.22      0.56      0.23     -0.58      1.21   2539.04      1.00
age_impute[122]      0.18      0.54      0.18     -0.66      1.08   1903.06      1.00
age_impute[123]     -0.48      0.57     -0.47     -1.40      0.45   1820.87      1.00
age_impute[124]     -0.58      0.59     -0.60     -1.60      0.33   1831.70      1.00
age_impute[125]      0.20      0.57      0.20     -0.72      1.13   2586.15      1.00
age_impute[126]      0.18      0.56      0.17     -0.72      1.09   1996.33      1.00
age_impute[127]      0.24      0.53      0.24     -0.65      1.11   1611.07      1.00
age_impute[128]      0.21      0.54      0.22     -0.65      1.08   1891.84      1.00
age_impute[129]     -0.61      0.58     -0.61     -1.48      0.42   1830.51      1.00
age_impute[130]      0.19      0.54      0.20     -0.72      1.01   1844.24      1.00
age_impute[131]      0.20      0.55      0.20     -0.72      1.07   1135.24      1.00
age_impute[132]      0.24      0.53      0.23     -0.59      1.11   1699.54      1.00
age_impute[133]      0.18      0.53      0.16     -0.66      1.06   1446.01      1.00
age_impute[134]      0.06      0.57      0.05     -0.82      0.96   2020.31      1.00
age_impute[135]      0.19      0.54      0.20     -0.70      1.02   2427.55      1.00
age_impute[136]      0.17      0.57      0.16     -0.74      1.10   2850.94      1.00
age_impute[137]     -0.61      0.57     -0.62     -1.59      0.28   1766.03      1.00
age_impute[138]      0.18      0.56      0.16     -0.74      1.08   1701.28      1.00
age_impute[139]      0.21      0.56      0.22     -0.69      1.08   2985.44      1.00
age_impute[140]      0.42      0.53      0.44     -0.42      1.31   2623.96      1.00
age_impute[141]      0.22      0.52      0.21     -0.60      1.10   1740.53      1.00
age_impute[142]     -0.42      0.58     -0.43     -1.34      0.55   2131.23      1.00
age_impute[143]      0.06      0.57      0.06     -0.82      1.02   2431.20      1.00
age_impute[144]     -0.58      0.57     -0.59     -1.61      0.27   2373.79      1.00
age_impute[145]     -1.73      0.17     -1.72     -2.03     -1.48   2136.37      1.00
age_impute[146]      0.27      0.54      0.27     -0.50      1.22   2145.75      1.00
age_impute[147]      0.21      0.54      0.21     -0.65      1.09   2469.75      1.00
age_impute[148]     -0.61      0.56     -0.61     -1.54      0.29   2724.00      1.00
age_impute[149]      0.22      0.55      0.23     -0.61      1.21   1944.16      1.00
age_impute[150]      0.21      0.56      0.20     -0.68      1.15   1892.82      1.00
age_impute[151]      0.21      0.53      0.23     -0.70      1.03   1578.70      1.00
age_impute[152]      0.13      0.52      0.12     -0.69      1.00   2132.33      1.00
age_impute[153]      0.17      0.55      0.16     -0.77      1.00   2080.23      1.00
age_impute[154]      0.97      0.65      0.97     -0.01      2.13   1446.01      1.00
age_impute[155]      0.19      0.54      0.17     -0.74      1.02   1982.18      1.00
age_impute[156]      0.21      0.61      0.21     -0.75      1.25   2182.76      1.00
age_impute[157]      0.19      0.55      0.19     -0.74      1.09   2254.92      1.00
age_impute[158]      0.21      0.54      0.22     -0.63      1.12   1612.52      1.00
age_impute[159]      0.18      0.54      0.18     -0.71      1.03   2227.48      1.00
age_impute[160]      0.21      0.56      0.21     -0.65      1.15   1332.75      1.00
age_impute[161]     -0.51      0.57     -0.51     -1.36      0.54   2703.14      1.00
age_impute[162]      0.27      0.56      0.28     -0.67      1.17   2368.44      1.00
age_impute[163]      0.24      0.58      0.26     -0.63      1.27   2445.41      1.00
age_impute[164]      0.19      0.58      0.17     -0.77      1.10   1583.75      1.00
age_impute[165]      0.20      0.53      0.20     -0.71      1.02   1726.78      1.00
age_impute[166]      0.06      0.56      0.07     -0.80      1.02   1558.99      1.00
age_impute[167]      0.20      0.55      0.19     -0.68      1.09   1580.69      1.00
age_impute[168]      0.19      0.57      0.17     -0.70      1.18   1418.24      1.00
age_impute[169]      0.14      0.56      0.14     -0.75      1.10   3098.74      1.00
age_impute[170]      0.20      0.57      0.21     -0.75      1.10   1731.72      1.00
age_impute[171]      0.42      0.53      0.43     -0.36      1.39   1733.00      1.00
age_impute[172]      0.19      0.56      0.18     -0.73      1.07   2938.69      1.00
age_impute[173]     -0.49      0.57     -0.49     -1.34      0.51   2004.59      1.00
age_impute[174]      0.18      0.52      0.19     -0.74      0.95   1754.17      1.00
age_impute[175]      0.19      0.54      0.20     -0.70      1.09   2071.06      1.00
age_impute[176]     -0.49      0.58     -0.49     -1.44      0.46   1519.84      1.00
      age_mu[0]      0.19      0.04      0.19      0.12      0.24    871.11      1.00
      age_mu[1]     -0.54      0.07     -0.54     -0.64     -0.42   1049.85      1.00
      age_mu[2]      0.43      0.07      0.42      0.32      0.55   1240.39      1.00
      age_mu[3]     -1.73      0.04     -1.73     -1.79     -1.66   1413.84      1.00
      age_mu[4]      0.85      0.17      0.85      0.59      1.14   1510.20      1.00
   age_sigma[0]      0.77      0.02      0.77      0.73      0.81   1365.89      1.00
   age_sigma[1]      0.80      0.05      0.80      0.73      0.88   1392.65      1.00
   age_sigma[2]      0.74      0.04      0.73      0.66      0.80   1063.95      1.00
   age_sigma[3]      0.24      0.03      0.24      0.20      0.29   1231.32      1.00
   age_sigma[4]      0.92      0.13      0.90      0.72      1.13   1397.05      1.00
          b_Age     -0.45      0.14     -0.44     -0.70     -0.26   1231.62      1.00
  b_Embarked[0]     -0.28      0.58     -0.31     -1.18      0.73    577.41      1.00
  b_Embarked[1]      0.28      0.60      0.27     -0.70      1.23    592.71      1.00
  b_Embarked[2]      0.04      0.61      0.04     -0.97      1.03    554.13      1.00
     b_Parch[0]      0.45      0.56      0.46     -0.46      1.36    491.72      1.01
     b_Parch[1]      0.12      0.58      0.12     -0.82      1.03    499.34      1.02
     b_Parch[2]     -0.50      0.58     -0.48     -1.40      0.46    475.96      1.01
    b_Pclass[0]      1.21      0.58      1.24      0.31      2.14    533.87      1.00
    b_Pclass[1]      0.06      0.59      0.09     -0.95      0.97    496.85      1.00
    b_Pclass[2]     -1.18      0.57     -1.16     -2.12     -0.27    515.03      1.00
       b_Sex[0]      1.15      0.75      1.14      0.00      2.38    921.76      1.00
       b_Sex[1]     -1.04      0.72     -1.03     -2.31      0.07    953.42      1.00
     b_SibSp[0]      0.28      0.68      0.30     -0.89      1.26    780.45      1.00
     b_SibSp[1]     -0.18      0.66     -0.15     -1.34      0.77    804.50      1.00
     b_Title[0]     -0.93      0.53     -0.96     -1.79     -0.04    742.93      1.00
     b_Title[1]     -0.34      0.62     -0.35     -1.33      0.63    790.09      1.00
     b_Title[2]      0.55      0.62      0.56     -0.42      1.59    684.75      1.00
     b_Title[3]      1.47      0.59      1.46      0.59      2.53    844.87      1.00
     b_Title[4]     -0.67      0.57     -0.64     -1.62      0.21    714.89      1.00

Number of divergences: 0

As we can see, using Bayesian, we can get uncertainties of our results: e.g. imputing values, coefficients of being male or female,... (and you can make nice plots with them ;)

### make predictions

To make predictions on the new data, we will maginalize those `age_imput` variables (in other words, removing them from posterior samples) and use the remaining variables for predictions.

In [12]:
test_df = pd.read_csv(
    "https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv"
)
test_df.info()
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
#test_df = pd.read_csv("../input/titanic/test.csv")
d = test_df.copy()
d["Title"] = d.Name.str.split(", ").str.get(1).str.split(" ").str.get(0).apply(
    lambda x: x if x in ["Mr.", "Miss.", "Mrs.", "Master."] else "Misc.")
test_data = dict(age=d.Age.pipe(lambda x: (x - age_mean) / age_std).values,
                 pclass=d.Pclass.values - 1,
                 title=d.Title.astype(title_cat).cat.codes.values,
                 sex=(d.Sex == "male").astype(int).values,
                 sibsp=d.SibSp.clip(0, 1).values,
                 parch=d.Parch.clip(0, 2).values,
                 embarked=d.Embarked.astype(embarked_cat).cat.codes.values)

posterior = mcmc.get_samples().copy()
#print(posterior)
posterior.pop("age_impute")
predicted = Predictive(model, posterior)(random.PRNGKey(2), **test_data)
print(predicted)
survived_probs = predicted["probs"]
d["Survived"] = (survived_probs.mean(axis=0) >= 0.5).astype(np.uint8)
d[["PassengerId", "Survived"]].to_csv("submission.csv", index=False)

age_nanidx.shape (86,)
{'age': DeviceArray([[ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
              -0.33162794, -1.6635623 ],
             [ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
               0.70584744, -1.8773663 ],
             [ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
               0.9738562 , -1.4498053 ],
             ...,
             [ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
               0.18454845, -1.764892  ],
             [ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
              -0.9107513 , -1.2319694 ],
             [ 0.3304914 ,  1.190988  ,  2.2235837 , ...,  0.6058503 ,
               0.20563367, -1.3692285 ]], dtype=float32), 'age_impute': DeviceArray([[ 0.04010631,  0.44885987,  0.0212229 , ...,  0.54038113,
              -0.33162794, -1.6635623 ],
             [ 0.07183257,  1.3224967 , -0.4964431 , ..., -0.45723763,
               0.70584744, -1.8773663 ],
             [-1.7759464 ,  0.6144135 ,  0.9012691 , ...,  0.84298325,
               0.9738562 , -1.4498053 ],
             ...,
             [ 0.88647306,  0.21713105,  0.2643092 , ...,  0.58221215,
               0.18454845, -1.764892  ],
             [-0.9572615 , -0.8711689 , -0.16556099, ...,  0.5784234 ,
              -0.9107513 , -1.2319694 ],
             [-0.7217226 ,  0.384372  , -0.29858482, ..., -0.12272549,
               0.20563367, -1.3692285 ]], dtype=float32), 'probs': DeviceArray([[0.12074031, 0.5284211 , 0.19711801, ..., 0.06617726,
              0.0854284 , 0.5708641 ],
             [0.13004643, 0.4171397 , 0.15348239, ..., 0.05055817,
              0.04786496, 0.5589084 ],
             [0.13093036, 0.50672406, 0.14436413, ..., 0.06399863,
              0.05619889, 0.5467746 ],
             ...,
             [0.06591523, 0.5088804 , 0.1357318 , ..., 0.04922117,
              0.05437677, 0.6178181 ],
             [0.06923337, 0.5354543 , 0.10201178, ..., 0.05690335,
              0.11754137, 0.58309907],
             [0.079262  , 0.5350584 , 0.10932103, ..., 0.06276339,
              0.07212145, 0.49279228]], dtype=float32), 'survived': DeviceArray([[0, 1, 1, ..., 0, 0, 1],
             [0, 0, 1, ..., 0, 0, 0],
             [1, 0, 0, ..., 0, 0, 0],
             ...,
             [0, 0, 0, ..., 0, 0, 1],
             [0, 0, 0, ..., 0, 0, 1],
             [0, 0, 0, ..., 0, 0, 0]], dtype=int32)}

Submiting the result gives me the score about 79 (top 16%). It is great for the first attempt. :)

### further improvements

+ Using other features such as `Cabin` or `Fare`.
+ The above model assumes a linear relationship of `Survived` w.r.t. other latent variables. The result is intuitive but is not enough to beat tree-based models. We can build more complicated models or construct a [Bayesian neural network](http://pyro.ai/numpyro/bnn.html) model to capture more complex relationship.